<% content_for :page_title do %>
  <%= Spree.t(:settings, scope: :print_invoice) %>
<% end %>

<%= form_with model: [:admin, @print_invoice_setting], url: admin_print_invoice_settings_path do |f| %>
  <fieldset class="no-border-top">
    <div data-hook="admin_print_invoice_method_form_fields">
      <%= render 'form', f: f %>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save' %>
      </div>

    </div>
  </fieldset>
<% end %>
